{% extends 'layout.html' %}

{% block pageTitle %}
  {{ testCentre.name }} - Find a test centre - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>{{ testCentre.name }}</h1>
      <p class="nhsuk-lede-text">
        {{ testCentre.additionalInfo }}
      </p>
      <div class="nhsuk-grid-row nhsuk-card-group">
        <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">
                Address
              </h2>
              <p class="nhsuk-card__description">
                {{ testCentre.fullAddress | safe }}
              </p>
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">
                Facilities
              </h2>
              <ul>
                {% for facility in testCentre.facilities %}
                  <li>{{ facility }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      {% if testCentre.siteBookingUrl %}
        <h2>Book online</h2>
        {{ actionLink({
          "text": "Book a test online",
          "href": testCentre.siteBookingUrl
        }) }}
      {% endif %}

      <h2>Opening times</h2>
      {{ table({
        panel: false,
        firstCellIsHeader: false,
        head: [
          {
            text: "Day"
          },
          {
            text: "Opening hours"
          }
        ],
        rows: testCentre.openingTimes
      }) }}

    </div>
  </div>
{% endblock %}
