{% extends "template.html" %}

{% block pageTitle %}
  Find a test centre - NHS
{% endblock %}

{% block header %}
  {{ header({
    "service": {
        "name": "Find a test centre",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}
